In [2]:
import pandas as pd
import numpy as np

In [4]:
# 정수값 가진 시리즈 생성
s = pd.Series(np.arange(10,60,10))
s

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [6]:
# 결측치 포함해서 시리즈 생성
s = pd.Series([1, 2, 3, np.nan, 5, 6])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
dtype: float64

In [12]:
# 숫자 인덱스 지정
s = pd.Series([10, 20, 30], index = [1, 2, 3])
s.index

Int64Index([1, 2, 3], dtype='int64')

In [10]:
# 문자 인덱스 지정
s = pd.Series([85, 20, 73], index = ['홍길동', '이몽롱', '성춘향'])
s.index

Index(['홍길동', '이몽롱', '성춘향'], dtype='object')

In [14]:
s = pd.Series([9904312, 3448737, 289045, 2466052],
            index=["서울","부산","인천","대구"])
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [15]:
# index 제목
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천     289045
대구    2466052
dtype: int64

In [16]:
s.values

array([9904312, 3448737,  289045, 2466052], dtype=int64)

In [19]:
s.name = '인구 수'      # value 제목
s.name, s

('인구 수',
 도시
 서울    9904312
 부산    3448737
 인천     289045
 대구    2466052
 Name: 인구 수, dtype: int64)

In [20]:
s[['서울', '대구']]

도시
서울    9904312
대구    2466052
Name: 인구 수, dtype: int64

In [21]:
s.서울

9904312

In [27]:
s = pd.Series(np.arange(11,21), np.arange(1,11))
s

1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int32

In [28]:
s > 5

1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
dtype: bool

In [29]:
s[s % 2 == 0]

2     12
4     14
6     16
8     18
10    20
dtype: int32

In [30]:
s[s > 5]

1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int32

In [32]:
s[(s>15) & (s<18)]

6    16
7    17
dtype: int32

In [33]:
s[s>14].sum()

105

In [35]:
(s>14).sum()

6

In [38]:
list(s.items())           # zip 객체

[(1, 11),
 (2, 12),
 (3, 13),
 (4, 14),
 (5, 15),
 (6, 16),
 (7, 17),
 (8, 18),
 (9, 19),
 (10, 20)]

In [39]:
for k, v in s.items():
    print(f'{k} = {v}')

1 = 11
2 = 12
3 = 13
4 = 14
5 = 15
6 = 16
7 = 17
8 = 18
9 = 19
10 = 20

In [40]:
s = pd.Series([1, 1, 2, 1, 2, 2, 2, 1, 1, 3, 3, 4, 5, 5, 7, np.NaN])

In [41]:
s.size

16

In [42]:
len(s)

16

In [44]:
s.shape

(16,)

In [45]:
# unique 시리즈의 유일한 값 반환
s.unique

<bound method Series.unique of 0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     3.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64>

In [46]:
a = np.array([2, 2, 2, 2, np.nan])
b = pd.Series(a)
a.mean(), b.mean()
# Numpy.mean() -> nan 포함 / Pandas.mean() -> nan 포함 x

(nan, 2.0)

In [47]:
s.mean()

2.6666666666666665

In [49]:
pd.date_range('2021-10-01', '2021-10-20')

DatetimeIndex(['2021-10-01', '2021-10-02', '2021-10-03', '2021-10-04',
               '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-08',
               '2021-10-09', '2021-10-10', '2021-10-11', '2021-10-12',
               '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-16',
               '2021-10-17', '2021-10-18', '2021-10-19', '2021-10-20'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range('2021-10-01', '2021-10-20', freq= 'W-FRI')

DatetimeIndex(['2021-10-01', '2021-10-08', '2021-10-15'], dtype='datetime64[ns]', freq='W-FRI')

In [51]:
pd.date_range('2021-10-01', '2021-10-20', freq= 'W')

DatetimeIndex(['2021-10-03', '2021-10-10', '2021-10-17'], dtype='datetime64[ns]', freq='W-SUN')

In [63]:
pd.date_range(start='2021-10-01', periods=4, freq ='W')

DatetimeIndex(['2021-10-03', '2021-10-10', '2021-10-17', '2021-10-24'], dtype='datetime64[ns]', freq='W-SUN')

In [65]:
pd.date_range('2021-10-01', periods=4, freq='M')        # 월말 기준

DatetimeIndex(['2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31'], dtype='datetime64[ns]', freq='M')